@{
    ViewData["Title"] = "Asistencia";
}

<!DOCTYPE html>
<html lang="es">
<head>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <h1>Asistencia de alumnos - <a class="btn btn-info">Presentar Asistencia</a></h1>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- ./card-header -->
                                <div class="card-body">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>•</th>
                                                <th>Usuario</th>
                                                <th>Hora de entrada</th>
                                                <th>Estado</th>
                                                <th>Curso</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-widget="expandable-table" aria-expanded="false">
                                                <td>183</td>
                                                <td>John Doe</td>
                                                <td>@DateTime.Now.ToString("D") @DateTime.Now.ToString("T")</td>
                                                <td>Approved</td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                            </tr>
                                            <tr class="expandable-body">
                                                <td colspan="5">
                                                    <button class="btn btn-primary">Abrir caja</button>
                                                    <button class="btn btn-danger">Cerrar caja</button>
                                                    <button class="btn btn-secondary">Modificar fondo</button>
                                                </td>
                                            </tr>

                                            <tr data-widget="expandable-table" aria-expanded="false">
                                                <td>219</td>
                                                <td>Alexander Pierce</td>
                                                <td>@DateTime.Now.ToString("D") @DateTime.Now.ToString("T")</td>
                                                <td>Pending</td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                            </tr>
                                            <tr class="expandable-body">
                                                <td colspan="5">
                                                    <button class="btn btn-primary">Abrir caja</button>
                                                    <button class="btn btn-danger">Cerrar caja</button>
                                                    <button class="btn btn-secondary">Modificar fondo</button>
                                                </td>
                                            </tr>

                                            <tr data-widget="expandable-table" aria-expanded="false">
                                                <td>657</td>
                                                <td>Alexander Pierce</td>
                                                <td>@DateTime.Now.ToString("D") @DateTime.Now.ToString("T")</td>
                                                <td>Approved</td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                            </tr>
                                            <tr class="expandable-body">
                                                <td colspan="5">
                                                    <button class="btn btn-primary">Abrir caja</button>
                                                    <button class="btn btn-danger">Cerrar caja</button>
                                                    <button class="btn btn-secondary">Modificar fondo</button>
                                                </td>
                                            </tr>

                                            <tr data-widget="expandable-table" aria-expanded="false">
                                                <td>175</td>
                                                <td>Mike Doe</td>
                                                <td>@DateTime.Now.ToString("D") @DateTime.Now.ToString("T")</td>
                                                <td>Denied</td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                            </tr>
                                            <tr class="expandable-body">
                                                <td colspan="5">
                                                    <button class="btn btn-primary">Abrir caja</button>
                                                    <button class="btn btn-danger">Cerrar caja</button>
                                                    <button class="btn btn-secondary">Modificar fondo</button>
                                                </td>
                                            </tr>

                                            <tr data-widget="expandable-table" aria-expanded="false">
                                                <td>134</td>
                                                <td>Jim Doe</td>
                                                <td>@DateTime.Now.ToString("D") @DateTime.Now.ToString("T")</td>
                                                <td>Approved</td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                            </tr>
                                            <tr class="expandable-body">
                                                <td colspan="5">
                                                    <button class="btn btn-primary">Abrir caja</button>
                                                    <button class="btn btn-danger">Cerrar caja</button>
                                                    <button class="btn btn-secondary">Modificar fondo</button>
                                                </td>
                                            </tr>

                                            <tr data-widget="expandable-table" aria-expanded="false">
                                                <td>494</td>
                                                <td>Victoria Doe</td>
                                                <td>@DateTime.Now.ToString("D") @DateTime.Now.ToString("T")</td>
                                                <td>Pending</td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                            </tr>
                                            <tr class="expandable-body">
                                                <td colspan="5">
                                                    <button class="btn btn-primary">Abrir caja</button>
                                                    <button class="btn btn-danger">Cerrar caja</button>
                                                    <button class="btn btn-secondary">Modificar fondo</button>
                                                </td>
                                            </tr>

                                            <tr data-widget="expandable-table" aria-expanded="false">
                                                <td>832</td>
                                                <td>Michael Doe</td>
                                                <td>@DateTime.Now.ToString("D") @DateTime.Now.ToString("T")</td>
                                                <td>Approved</td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                            </tr>
                                            <tr class="expandable-body">
                                                <td colspan="5">
                                                    <button class="btn btn-primary">Abrir caja</button>
                                                    <button class="btn btn-danger">Cerrar caja</button>
                                                    <button class="btn btn-secondary">Modificar fondo</button>
                                                </td>
                                            </tr>

                                            <tr data-widget="expandable-table" aria-expanded="false">
                                                <td>982</td>
                                                <td>Rocky Doe</td>
                                                <td>@DateTime.Now.ToString("D") @DateTime.Now.ToString("T")</td>
                                                <td>Denied</td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                            </tr>
                                            <tr class="expandable-body">
                                                <td colspan="5">
                                                    <button class="btn btn-primary">Abrir caja</button>
                                                    <button class="btn btn-danger">Cerrar caja</button>
                                                    <button class="btn btn-secondary">Modificar fondo</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- ./wrapper -->
</body>
</html>